<button (click)="openDialog()" class="add-btn" mat-fab color="primary" matTooltip="Add user"
  aria-label="Example icon button with a delete icon">
  <mat-icon>add</mat-icon>
</button>
<mat-card>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let user of allUsers" routerLink="{{user.customIdName}}">
      <td> {{ user.firstName }} {{ user.lastName }} </td>
      <td> {{ user.street }} </td>
      <td> {{ user.city }} </td>
    </tr>
  </table>
</mat-card>
