mat-card {
  padding-right: 0;
  padding-left: 0;
}

.add-btn {
  position: absolute;
  right: 56px;
  bottom: 56px;
}

table {
  color: rgba(0, 0, 0, 0.466);
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    cursor: pointer;

    &:first-child {
      cursor: unset;

      &:hover {
        background-color: unset;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.027);
    }

    &:last-child {
      border-bottom: 0;
    }

    td {
      height: 48px;

      &:first-child {
        padding-left: 16px;
      }
    }
  }

  th {
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    &:first-child {
      padding-left: 16px;
    }
  }
}
